body {
  background: rgb(0, 107, 161);
}

.logo {
  max-width: 100%;
  margin-bottom: -100px;
  margin-top: -100px;
}

.cookie-fortune-container {
  position: relative;
  text-align: center;
  width: 550px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .cookie-fortune-container {
    width: 350px !important;
  }
}

.mode-container {
}

@media only screen and (max-width: 600px) {
  .cookie-image {
    width: 350px !important;
  }
}

.cookie-image {
  margin-top: -5%;
  width: 550px;
}
/* Bottom left text */
.fortune-box {
  display: flex;
  position: absolute;
  bottom: 165px;
  left: 105px;
  width: 220px;
  transform: rotate(21deg);
  /* background-color: #61dafb; */
  height: 65px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .fortune-box {
    bottom: 110px !important;
    left: 65px !important;
    width: 140px !important;
    height: 45px !important;
  }
}

.fortune {
  margin: auto;
  padding: 5px;
  color: black;
}

@media only screen and (max-width: 600px) {
  .fortune {
    font-size: 10px;
  }
}

.container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.button {
  background: #ffffff;
  border-radius: 11px;
  padding: 10px 18px;
  color: #ff9900;
  display: inline-block;
  font: normal bold 26px/1 "Open Sans", sans-serif;
  text-align: center;
  margin: 5px;
  width: 200px;
}
@media only screen and (max-width: 600px) {
  .button {
    width: 80%;
  }
}

p {
  color: #ff9900;
}

a {
  color: #ff9900;
}

.sending-text-input {
  border-radius: 7px;
  height: 30px;
  width: 200px;
}
