body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#006ba1, #1e7fbf);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  padding-top: 10%;
  max-width: 60%;
  margin: 10px;
}

.cookie-fortune-container {
  position: relative;
  text-align: center;
  width: 550px;
  margin: -10px auto;
}

.cookie-image {
  width: 100%;
}

.fortune-box {
  display: flex;
  position: absolute;
  bottom: 165px;
  left: 105px;
  width: 220px;
  transform: rotate(21deg);
  height: 65px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .cookie-fortune-container {
    width: 350px !important ;
  }

  .cookie-image {
    width: 350px !important ;
  }
}

@media only screen and (max-width: 600px) {
  .fortune-box {
    bottom: 110px !important;
    left: 65px !important;
    width: 140px !important;
    height: 45px !important;
  }
}

.fortune {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 15px;
  margin: auto;
  padding: 5px;
  color: #000;
}

@media only screen and (max-width: 600px) {
  .fortune {
    font-size: 10px;
  }
}

.container {
  width: 100%;
  margin: auto;
  text-align: center;
  max-width: 600px;
}
/* @media only screen and (max-width: 600px) {
  .container {
    width: 300px;
  }
} */

.button {
  background: #fff;
  border-radius: 15px;
  padding: 11px 18px;
  color: #f90;
  display: inline-block;
  font: normal 700 26px/1 "Open Sans", sans-serif;
  text-align: center;
  margin: 5px;
  width: 220px;
  border: none;
}

@media only screen and (max-width: 600px) {
  .button {
    width: 100%;
  }
}

a,
p,
b,
label {
  color: white;
}

.sending-text-input {
  border-radius: 15px;
  height: 42px;
  max-width: 210px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}
.sending-text {
  justify-self: center;
  margin: 0;
}

.custom-fortune-input {
  height: 60px;
  width: 300px;
  text-align: center;
  border-radius: 15px;
  resize: none;
  margin: 15px;
  margin-bottom: 0;
}

.form-container {
  display: grid;
  grid-template-columns: 25% 60%;
  margin: 20px;
  max-width: 370px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.send-submit-button {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

.custom-cookie-checkbox-container {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: end;
  margin-right: 15px;
  margin-bottom: 15px;
}

.waiting-page-button-container {
  margin: 20px;
}

canvas {
  border-radius: 15px;
}

.custom-fortune-input-container {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.custom-fortune-input-container > p:nth-child(2) {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  text-align: right;
  margin-right: 30px;
}
